<div class='bg-body-tertiary'>
  <div class='container'>
    <nav class='navbar'>
      <div class='container-fluid'>
        <a href='/watch' class='navbar-brand'>Watch Store</a>
        {{#if session.userName}}
          <form class='d-flex g-2' role='search'>

            <input
              class='form-control me-2'
              type='search'
              placeholder='Search'
              aria-label='Search'
            />
            <button
              class='btn btn-outline-success'
              type='submit'
            >Search</button>

          </form>
          <div class='d-flex g-2 align-items-center'>
            <h4 class='m-2'>{{session.userName}}</h4>
            {{! <a href='/auth/logout' class='btn btn-outline-success'>Logout</a> }}
            <form action='/auth/logout' method='get'>
              <button class='btn btn-outline-success'>Logout</button></form>
          </div>
        {{else}}
          <div class='btn-group btn-group-md btn-group-justified'>

            <a href='/auth/login' class='btn btn-outline-success'>Login</a>
            <a
              href='/auth/register'
              class='btn btn-outline-success'
            >Register</a>
          </div>
        {{/if}}
      </div>
    </nav>
  </div>
</div>