<div class='page-not-found'>
  <div
    class='page-not-found__container d-flex flex-column align-items-center justify-content-center mb-5'
  >
    <img
      src='https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png'
      alt='Not Found Illustration'
      class='page-not-found__illustration'
    />
    <div class='page-not-found__message'>Oops! The page you are looking for does
      not exist.</div>

    <a href='/' class='page-not-found__button'>Go to Homepage</a>
  </div>
</div>